{
  "parser": "babel-eslint",
    "plugins": [
      "react-hooks",
      "import"
    ],
    "rules": {
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn",
      "import/named": 2,
      "import/namespace": 2,
      "import/default": 2,
      "import/export": 2
    }
}