@charset "utf-8";

/* CSS font */
@font-face {
	font-family: 'NotoKrR';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(../fonts/NotoSans-Regular.eot);
	src: url(../fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
	url(../fonts/NotoSans-Regular.woff2) format('woff2'),
	url(../fonts/NotoSans-Regular.woff) format('woff');
}
@font-face {
	font-family: 'NotoKrM';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(../fonts/NotoSans-Medium.eot);
	src: url(../fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
	url(../fonts/NotoSans-Medium.woff2) format('woff2'),
	url(../fonts/NotoSans-Medium.woff) format('woff');
}
@font-face {
	font-family: 'NotoKrB';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/NotoSans-Bold.eot);
	src: url(../fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
	url(../fonts/NotoSans-Bold.woff2) format('woff2'),
	url(../fonts/NotoSans-Bold.woff) format('woff');
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul, ol {
	line-height: 155%;
}

/* 스크롤 스타일 줄때*/ 
.scroll::-webkit-scrollbar {
	width: 5px;
}
	  
.scroll::-webkit-scrollbar-thumb {
	background-color: #ced4da;
	outline: 0;
	border-radius: 2px;
}

section + section {
	margin-top: 60px;
}

.Content li + li {
	margin-top: 10px;
}